* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Circular Std;
}

body {
    margin: 0;
    padding: 0;
    font-family: Circular Std;
    user-select: none;
}

header {
    color: white;
    background-color: #5454D4;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.big-container {
    width: 1300px;
    margin: 0 auto;
}

.nav {
    color: white;
    padding-top: 20px;
    ;
}

.nav .big-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.nav-list {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: rgb(211, 213, 216)
}

.nav-link:hover {
    color: #ffffff
}

h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
}

.cart-number {
    background-color: #FEDC5A;
    color: black;
    padding: 7px 10px;
    border-radius: 50%;
    margin-left: 8px;
}

.cart-text {
    color: white;
}

.s1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-1 {
    padding-bottom: 100px;
}

.img-box-1 {
    width: 50%;
    height: 100%
}

.content-box-1 {
    width: 50%;
}

.heading-2 {
    font-size: 55px;
}

.p1 {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.price-box {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 20px;
    justify-content: space-between;
    background-color: #6565E9;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-box:hover {}

.price-box p {
    display: block;
}

.price {
    font-size: 60px;
}

.discount {
    padding: 10px;
    background-color: #77BF41;
    border-radius: 5px;
}

.discount:hover {
    transform: scale(1.03);
    background-color: #59b612;
}

form {
    outline: none;
    width: 60%;
}

.label {
    position: relative;
    color: #000 !important;
}

input {
    outline: none;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
    border: none;
    border-radius: 7px;
    color: #000;
    width: 90px;
}

.label:after {
    position: absolute;
    color: black;
    content: "-";
    right: 248px;
    bottom: -17px;
    font-size: 20px;
    background-color: #EAE9F2;
    padding: 2px 8px;
    border-bottom-right-radius: 4px;
    pointer-events: none;
}

.label:before {
    position: absolute;
    left: 66px;
    color: black;
    content: "+";
    background-color: #EAE9F2;
    padding: 1px 6px;
    border-top-right-radius: 4px;
    font-size: 20px;
    pointer-events: none;
}

.submit {
    background-color: #FEDC5Aff;
    border: none;
    outline: none;
    border-radius: 7px;
    color: #000;
    font-size: 21px;
    padding: 15px 60px;
    margin-left: 15px;
}

.submit:hover {
    background-color: rgb(243, 205, 51);
    transform: scale(0.95);
    cursor: pointer;
}

.section-2 .content-box-2 {
    color: black;
}

.mini-box img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.content-box-2 {
    width: 50%;
    padding: 20px;
}

.content-box-2 .heading-2 {
    font-size: 60px;
}

.img-box-2 {
    width: 50%;
}

.content-box-2 p {
    color: #696871;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
}

.s2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mini-box {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: start;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dedee0;
    border-radius: 5px;
}

.mini-box:hover {
    transform: scale(0.94);
}

.bold-span {
    color: #000;
    font-weight: bold;
}

.simple-span {
    color: #696871;
}

s3 {
    color: #000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

s3 h2 {
    color: #000 !important;
    width: 490px;
    text-align: center;
}

.everything {
    color: #000 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.ev-list img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-right: 10px;
}

.ev-list {
    display: flex;
    align-items: center;
    width: 348px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: #fff;
    color: #000 !important;
    border-radius: 5px;
    padding: 10px;
}

.ev-list:hover {
    box-shadow: 0px 0px 10px 2px rgba(152, 219, 250, 0.7);
    cursor: pointer;
}

.icon-p {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.6565263867378235px;
    text-align: left;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.new {
    position: relative;
    width: 46%;
    height: 600px;
    background: white;
}

.k50 {
    color: white;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-3 {
    background: #413E65;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-box-4 {
    display: flex;
    justify-self: center;
    align-items: center;
}

.right {
    position: relative;
    left: -95px;
}

.left {
    position: relative;
    left: -30px;
}

.center-h {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-p {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: #696871;
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
}


/* .left {
    width: 30%;
}

.right {
    width: 60%;
} */